html {
  position: relative;
  min-height: 100%; }

body {
  font-family: Open Sans, sans-serif;
  font-size: 100%;
  color: #383e47;
  width: 100%;
  /*footer height plus padding*/
  margin-bottom: 200px; }

a {
  color: inherit;
  text-decoration: none; }
  a:link {
    text-decoration: none; }
  a:hover {
    color: #FAA61A; }

h1 {
  font-size: 3.5em;
  line-height: 0.8em;
  font-weight: bold;
  color: #383e47;
  margin-bottom: 0.5em; }
  @media (max-width: 768px) {
    h1 {
      font-size: 1.8em; } }

h2 {
  font-size: 2em;
  line-height: 2.5em;
  font-weight: bold; }

h3 {
  font-size: 1.8em;
  line-height: 2.2em;
  font-weight: normal;
  color: #fff; }

p {
  font-size: 1.4em;
  line-height: 1.8em;
  padding-bottom: 1em; }

/* ======== HEADER ======== */
.navbar {
  background-color: #eeeeee;
  border-bottom: 1px solid #FAA61A;
  height: 40px;
  min-height: 40px;
  position: relative;
  margin-bottom: 0; }

.wraper {
  margin-right: 15%;
  margin-left: 15%; }
  @media (max-width: 768px) {
    .wraper {
      margin-right: 5%;
      margin-left: 5%; } }

.social-icons {
  padding-top: 10px; }

.logo {
  float: left;
  padding: 1px 19px 0 0;
  margin-top: 8px; }

.logo img {
  width: 95%; }
  @media (max-width: 480px) {
    .logo img {
      margin-top: 5px; } }

.dj_header {
  margin-top: 7px;
  width: 300px;
  font-family: Open Sans, sans-serif;
  font-weight: 300;
  color: #777;
  font-size: 1.7em;
  text-decoration: none;
  white-space: nowrap; }
  @media (max-width: 768px) {
    .dj_header {
      font-size: 1.5em; } }
  @media (max-width: 480px) {
    .dj_header {
      display: none; } }

.social-icons {
  color: #999999; }

.fa-facebook:hover,
.fa-twitter:hover {
  color: #FAA61A; }

/* ======== Footer ======== */
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
  background: #1c2124 none repeat scroll 0 0;
  text-align: left;
  font-size: 14px;
  padding: 0;
  display: block; }

#footer-wraper {
  padding-top: 20px; }

.links li {
  color: #fff;
  font-size: 0.7em; }
  @media (max-width: 768px) {
    .links li {
      font-size: 0.5em; } }
  @media (max-width: 480px) {
    .links li {
      display: none; } }

.copyright {
  float: left;
  font-size: 0.7em;
  color: #fff; }
  @media (max-width: 768px) {
    .copyright {
      font-size: 0.5em; } }

.copying-info {
  padding-top: 31px;
  font-size: 0.7em;
  line-height: 15px;
  color: #888c91; }
  @media (max-width: 768px) {
    .copying-info {
      padding-top: 10px;
      font-size: 0.5em; } }

.support-site:link,
.support-site:visited {
  color: #FAA61A; }

@media (max-width: 768px) {
  .p2 {
    display: none; } }

.container-fluid {
  padding-right: 0px;
  padding-left: 0px; }

.image {
  position: relative; }

.social-icons {
  position: fixed;
  z-index: 1000; }

.fa-twitter,
.fa-facebook {
  background-color: rgba(230, 250, 250, 0.5);
  padding: 5px;
  margin-top: 5px;
  color: #5b5b5b;
  cursor: pointer; }

.fa-facebook:hover,
.fa-twitter:hover {
  color: #FAA61A; }

#background {
  opacity: 0.9; }

.projects {
  position: absolute;
  top: 300px;
  width: 100%;
  padding-left: 20%;
  padding-right: 20%; }
  @media (max-width: 768px) {
    .projects {
      position: relative; } }
  @media (max-width: 480px) {
    .projects {
      position: relative; } }

.svg-container {
  display: block;
  width: 50%;
  margin: auto;
  vertical-align: middle;
  overflow: hidden; }

.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0; }

#Layer_1 {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%; }

h1 {
  text-align: center;
  left: 0;
  width: 100%; }
  h1.maintitle {
    position: absolute;
    top: 150px; }
  h1 span {
    background: rgba(247, 122, 82, 0.7);
    padding: 10px;
    color: #fff; }

h2 {
  text-align: center; }
  h2 span {
    background: rgba(247, 122, 82, 0.9);
    padding: 7px;
    color: #fff; }

h3 {
  text-align: center; }

h3 span {
  background: #332532;
  /* fallback color */
  background: rgba(51, 37, 50, 0.7);
  padding: 5px; }

.loading-page {
  padding-bottom: 15em; }

p.fact {
  margin-top: 3.5em; }
  p.fact::first-letter {
    float: left;
    margin: 0 20px 0 0;
    font-size: 52px;
    font-weight: bold;
    padding: 10px;
    line-height: 1; }
p span {
  background: rgba(247, 122, 82, 0.5);
  padding: 1px; }

.line {
  opacity: 0.7;
  -webkit-animation: 7s crazy infinite;
  animation: 7s crazy infinite; }

.line2 {
  -webkit-animation: 11s crazy infinite;
  animation: 11s crazy infinite; }

#train {
  padding-top: 7em;
  padding-bottom: 7em;
  display: block;
  margin: auto; }

.row {
  margin-left: 0;
  margin-right: 0; }
  .row.graphs {
    margin-top: 7em;
    margin-bottom: 7em; }

.bold {
  font-size: 3em;
  font-family: 'Open Sans Condensed', sans-serif;
  color: rgba(247, 122, 82, 0.9);
  margin: 3em; }

.last {
  margin-bottom: 10em; }

@-webkit-keyframes crazy {
  0% {
    stroke-dasharray: 0 600;
    stroke-dashoffset: 10; }
  50% {
    stroke-dasharray: 600 0; }
  70% {
    stroke-dasharray: 300 0; }
  90% {
    stroke-dasharray: 0 300; }
  100% {
    stroke-dasharray: 0 600;
    stroke-dashoffset: 10; } }
@keyframes crazy {
  0% {
    stroke-dasharray: 0 600;
    stroke-dashoffset: 10; }
  50% {
    stroke-dasharray: 600 0; }
  70% {
    stroke-dasharray: 300 0; }
  90% {
    stroke-dasharray: 0 300; }
  100% {
    stroke-dasharray: 0 600;
    stroke-dashoffset: 10; } }

/*# sourceMappingURL=application.css.map */
