html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: $main-serif;
    font-size: 100%;
    color: $main-text;
    width: 100%;
    /*footer height plus padding*/
    margin-bottom: 200px;
}

a {
    color: inherit;
    text-decoration: none;
    &:link {
        text-decoration: none;
    }
    &:hover {
        color: #FAA61A;
    }
}


h1 {
  @include text(3.5em, 0.8em, bold, $main-text);
  margin-bottom: 0.5em;
  @media #{$brk-narrow} {
    font-size: 1.8em;
  }
}

h2 {
  @include text(2em, 2.5em, bold);
}

h3 {
  @include text(1.8em, 2.2em, normal, $white);
}

p {
    @include text(1.4em,1.8em);
    padding-bottom: 1em;
}
